*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}



.container_principale {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.slider {
    width: 80%;
    height: 60%;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.thumb {
    width: 30%;
    height: 30%;
    border: 1px solid black;
}